
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-lastfm:before { content: '\f202'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */